.comp2 {
    padding: 30px;
    background-color: #ffd760;
    text-align: center;
    .title {
        font-family: serif;
    }
    .sub-section {
        width: calc(28%);
        padding: 0 15px 25px;
        display: inline-block;
        &:not(:last-child){
            border-right: 1px solid #000;
        }
    }

}